html {
	font-size: 16px;
}
body {
	font-family: "Roboto";
	font-size: 1rem;
}
header {
	font-family: "Playfair Display";
	font-size: 1.875rem;
	font-style: italic;
	font-weight: 700;
	text-align: center;
}
input {
	font: inherit;
	width: 100%;
	padding: 0;
}
h1 {  }
h2 {  }
h3 {
	font-size: 0.8125rem;
	font-weight: 400;
	color: $grey-medium;
	margin-bottom: .25rem;
}
label[for="message"] {
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 1.1875;
	display: block;
	margin-bottom: .25rem;
}