@import 'reset';
@import 'vars';
@import 'type';

body {
	height: 100%;
	width: 100%;
	max-width: 768px;
	margin: auto;
	z-index: 20;
}

body > header, #messages li , body > footer {
	padding-left: 1rem;
	padding-right: 1rem;
}
header {
	background-color: white;
	border-bottom: 0.0625rem $red-light solid;
	box-shadow: 0 0 .5rem $grey-dark;
	padding-top: 1.15rem;
	padding-bottom: 1.15rem;
	z-index: 2;
	position: fixed;
	top: 0;
	height: 4.188rem;
	width: 100%;
	max-width: 768px;
}
main {
	min-height: 100%;
	padding-top: 4.188rem;
	padding-bottom: 4.75rem;
	z-index: 0;
}
footer {
	padding-bottom: 1rem;
	background-color: white;
	border-top: 0.0625rem $grey-medium solid;
	box-shadow: 0 0 .5rem $grey-dark;
	font-weight: 700;
	z-index: 1;
	position: fixed;
	bottom: 0;
	height: 4.75rem;
	width: 100%;
	max-width: 768px;
}
#messages {
	list-style: none;
	width: 100%;
	margin: auto;
	li {
		display: block;
		width: 100%;
		height: auto;
		overflow: auto;
		padding-top: 0.5rem;
		padding-bottom: 0.625rem;
		line-height: 1.1875;
		border-bottom: 1px $grey-light solid;
		&:nth-of-type(odd) {
			background-color: $grey-lightest;
		}
	}
}
form {
	font-weight: 400;
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.625rem;
}
input {
	margin: 0;
}
input[type="text"] {
	padding-left: 0.25rem;
	cursor: text;
	height: 2rem;
	width: 75%;
	float: left;
	border: 1px $grey-light solid;
	border-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	&:focus, &:active {
		outline: 0;
		box-shadow: 0 0 8px $grey-light inset;
	}
}
input[type="submit"] {
	height: 2rem;
	width: 25%;
	float: left;
	cursor: pointer;
	display: block;
	background-color: $grey-light;
	border: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	&:hover {
		box-shadow: 0 0 8px $grey-medium inset;
	}
}
