<!doctype html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="{{description}}">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700i|Roboto" rel="stylesheet">
</head>
<body>
	{{{body}}}
</body>
</html>
