<header>
	<h1>{{title}}</h1>
</header>
<main>
	<ul id="messages">
	</ul>
</main>
<footer>
	<form action="">
		<label for="message">Type Message</label>
		<input id="message" type="text" name="message">
		<input type="submit" name="send" value="Send">
	</form>
</footer>