<header>
	<h1>{{title}}</h1>
</header>
<main>
	<ul id="messages">
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
		<li><h3>JM Redding</h3>Hello!</li>
	</ul>
</main>
<footer>
	<form id="create-message" action="/send">
		<label for="message">Type Message</label>
		<input type="text" name="message">
		<input type="submit" name="send" value="Send">
	</form>
</footer>