<h1>{{title}}</h1>
<article id="chat-app">
	<h2>Welcome to Chic Chat</h2>
	<ul id="message-list">
		<li><span>Name</span>: Hello!</li>
		<li><span>Name</span>: Hello!</li>
		<li><span>Name</span>: Hello!</li>
		<li><span>Name</span>: Hello!</li>
		<li><span>Name</span>: Hello!</li>
	</ul>
	<form id="create-message" action="/send">
		<label for="message">Enter a message</label>
		<input type="text" name="message">
		<input type="submit" name="send" value="Send">
	</form>
</article>