/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: inside; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #98DAFC;
  color: #252839;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #252839;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  font: inherit; }

html {
  font-variant-numeric: oldstyle-nums;
  -webkit-font-feature-settings: "liga","kern","onum";
  -moz-font-feature-settings: "liga","kern","onum";
  font-feature-settings: "liga","kern","onum";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

embed, iframe, img, object, video {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

html {
  font-size: 16px; }

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto"; }

header {
  height: 68px;
  width: 100%;
  background-color: white;
  border-bottom: 1px #FF2F2F solid;
  box-shadow: 0 0 8px #989898;
  font-family: "Playfair Display";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding-top: .85rem;
  padding-bottom: .35rem;
  position: fixed;
  top: 0; }

main {
  margin-top: 68px;
  margin-bottom: 81px; }

footer {
  height: auto;
  width: 100%;
  padding-bottom: 1rem;
  background-color: white;
  border-top: 1px #989898 solid;
  box-shadow: 0 0 8px #989898;
  font-weight: 700;
  position: fixed;
  bottom: 0; }

a {
  color: #00B7FF; }

h1 {
  margin-bottom: 1rem; }

#messages {
  list-style: none;
  line-height: 2;
  width: 100%;
  margin: auto; }
  #messages li {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px #D8D8D8 solid; }
    #messages li:nth-of-type(odd) {
      background-color: #F6F6F6; }

#messages span {
  font-weight: 700; }

#create-message {
  width: 100%;
  margin: auto; }

#create-message label {
  line-height: 1.4;
  display: block;
  padding-top: 1rem;
  margin-bottom: .5rem; }

input {
  font: inherit;
  width: 100%;
  padding: 0; }

input[type="Text"] {
  cursor: text;
  height: 2rem;
  width: 50%;
  float: left;
  border: 1px #D8D8D8 solid;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }
  input[type="Text"]:focus, input[type="Text"]:active {
    outline: 0;
    box-shadow: 0 0 8px #D8D8D8 inset; }

input[type="Submit"] {
  height: 2rem;
  width: 50%;
  float: left;
  cursor: pointer;
  display: block;
  background-color: #D8D8D8;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  input[type="Submit"]:hover {
    box-shadow: 0 0 8px #989898 inset; }

/*# sourceMappingURL=style.css.map */
