/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: inside; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #98DAFC;
  color: #252839;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #252839;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  font: inherit; }

html {
  font-variant-numeric: oldstyle-nums;
  -webkit-font-feature-settings: "liga","kern","onum";
  -moz-font-feature-settings: "liga","kern","onum";
  font-feature-settings: "liga","kern","onum";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

embed, iframe, img, object, video {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto";
  font-size: 1rem; }

header {
  font-family: "Playfair Display";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  text-align: center; }

input {
  font: inherit;
  width: 100%;
  padding: 0; }

h3 {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #989898;
  margin-bottom: .25rem; }

label {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.1875;
  display: block;
  margin-bottom: .25rem; }

body {
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin: auto;
  z-index: 20; }

body > header, #messages li, body > footer {
  padding-left: 1rem;
  padding-right: 1rem; }

header {
  background-color: white;
  border-bottom: 0.0625rem #FF2F2F solid;
  box-shadow: 0 0 0.5rem #7B7B7B;
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 4.188rem;
  width: 100%;
  max-width: 768px; }

main {
  min-height: 100%;
  padding-top: 4.188rem;
  padding-bottom: 4.75rem;
  z-index: 0; }

footer {
  padding-bottom: 1rem;
  background-color: white;
  border-top: 0.0625rem #989898 solid;
  box-shadow: 0 0 0.5rem #7B7B7B;
  font-weight: 700;
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 4.75rem;
  width: 100%;
  max-width: 768px; }

#messages {
  list-style: none;
  width: 100%;
  margin: auto; }
  #messages li {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.625rem;
    line-height: 1.1875;
    border-bottom: 1px #D8D8D8 solid; }
    #messages li:nth-of-type(odd) {
      background-color: #F6F6F6; }

form {
  font-weight: 400;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.625rem; }

input {
  margin: 0; }

input[type="text"] {
  padding-left: 0.25rem;
  cursor: text;
  height: 2rem;
  width: 75%;
  float: left;
  border: 1px #D8D8D8 solid;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }
  input[type="text"]:focus, input[type="text"]:active {
    outline: 0;
    box-shadow: 0 0 8px #D8D8D8 inset; }

input[type="submit"] {
  height: 2rem;
  width: 25%;
  float: left;
  cursor: pointer;
  display: block;
  background-color: #D8D8D8;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  input[type="submit"]:hover {
    box-shadow: 0 0 8px #989898 inset; }

/*# sourceMappingURL=style.css.map */
